<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="LogTrace" xsi:type="File" fileName="TraceLog.txt" />
    <target name="LogDebug" xsi:type="File" fileName="DebugLog.txt" layout="${date:format=dd-M-yyyy h\:mm\:ss} | ${logger} | ${message}${onexception:inner= ${exception:format=toString,Data}}" />
    <target xsi:type="ColoredConsole" name="ColoredConsole" layout="${date:format=dd-M-yyyy h\:mm\:ss} | ${logger} | ${message}${onexception:inner= ${exception:format=toString,Data}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogTrace" />
    <logger name="*" minlevel="Debug" writeTo="LogDebug" />
    <logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
  </rules>
</nlog>
