<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target name="LogTrace" xsi:type="File" fileName="TraceLog.txt" />
		<target name="fullLog" xsi:type="File"  fileName="Kestrel.txt" layout="${date:format=dd-M-yyyy h\:mm\:ss} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
		<target name="LogError" xsi:type="File" fileName="RuntimeError.txt" />
		<target name="LogDebug" xsi:type="File" fileName="DebugLog.txt" layout="${date:format=dd-M-yyyy h\:mm\:ss} | ${logger} | ${message}${onexception:inner= ${exception:format=toString,Data}}" />
		<target name="ColoredConsole" xsi:type="ColoredConsole"  layout="${date:format=dd-M-yyyy h\:mm\:ss} | ${logger} | ${message}${onexception:inner= ${exception:format=toString,Data}}" />
	</targets>

	<rules>
		<logger name="Microsoft" minlevel="Trace" writeTo="fullLog" />
		<logger name="*" minlevel="Trace" writeTo="LogTrace" />
		<logger name="*" minlevel="Warn" writeTo="LogError" />
		<logger name="*" minlevel="Error" writeTo="LogError" />
		<logger name="*" minlevel="Debug" writeTo="LogDebug" />
		<logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
	</rules>
</nlog>
